<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="shortcut icon" type="image/png" href="finnhub.png"/>
    <title>Finnhub</title>
</head>
<body class="bg-gray-700 text-white">
<div class="container w-max mx-auto">
    {% block header %}{% endblock %}
    {% block search %}{% endblock %}
    {% block main %}{% endblock %}
</div>
</body>
</html>